body{
    background-color: black;
}

#head{
    text-align: center;
    background-image: linear-gradient(pink,grey);
    margin:100px;
    border-width:2px;
    border-color: black;
    border-style: solid;


}
#guessnumber{
    margin:50px;
    padding: 10px;
}
button{
    padding:5px;
}
#result{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}